@model IEnumerable<MVCapiConsume.Models.Employee>

<h2>Employee List</h2>

<p>
    <a href="@Url.Action("Create", "Employee")" class="btn btn-primary">Create Employee</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Date of Joining</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Address</td>
                <td>@employee.Phone</td>
                <td>@employee.DOJ.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Edit", "Employee", new { id = employee.Id })" class="btn btn-primary">Edit</a> |
                    <a href="@Url.Action("Delete", "Employee", new { id = employee.Id })" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
